.page {
  height: 100%;
  width: 100%;
  max-width: 100%;

  @media (min-width: $mobile-320) {
    overflow-x: hidden;
  }
}

.page--modal-open::before {
  content: "";
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 100;
  transition: 1s;
}

.page__body {
  background-color: $bg;
  color: $white;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  line-height: 20px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.outer-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.inner-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-1440) {
    padding: 0 40px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.uppercase-mod {
  text-transform: uppercase;
}

.swiper {
  width: 800px;
  height: 600px;
}
