.actors-preview {
  height: 300px;
  overflow: hidden;
  min-width: 150px;
  text-align: left;

  @media (min-width: $desktop-1024) {

    align-self: flex-start;
  }
}

.actors-preview__list {
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.actors-preview__actor {
  margin: 0;
}

.actors-preview__actor-link {
  color: $yellow;
  transition: 0.5s;

  &:hover {
    color: $yellow-hover;
  }
}
