.actors-preview {
  min-width: 150px;
  height: 300px;
  overflow: hidden;
  text-align: left;

  @media (min-width: $desktop-1024) {
    align-self: flex-start;
  }
}

.actors-preview__list {
  max-height: 200px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
}

.actors-preview__actor {
  margin: 0;
}

.actors-preview__actor-link {
  color: $yellow;
  transition: 0.5s;

  &:hover {
    color: $yellow-hover;
  }
}
