.actors-preview {
  min-width: 150px;
  min-height: 300px;
  color: $white;
  text-align: left;

  @media (min-width: $desktop-1024) {
    align-self: flex-start;
  }
}

.actors-preview__list {
  min-height: 200px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.actors-preview__info-wrapper {
  position: absolute;
  top: 0;
  left: -160px;
  display: none;
  max-width: 200px;
  background-color: $bg;
}

.actors-preview__item-img {
  margin-right: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.actors-preview__actor {
  position: relative;
  margin: 0;
  color: $white;

  &:hover .actors-preview__info-wrapper {
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
    }
  }
}

.actors-preview__actor-link {
  color: $yellow;
  transition: 0.5s;

  &:hover {
    color: $yellow-hover;
  }
}
