.burger {
  position: absolute;
  top: 26px;
  left: 26px;
  width: 24px;
  height: 20px;
  padding: 0;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }

  &--opened {
    background: url("../img/burger-open.svg") 50% 50% no-repeat;
    background-size: cover;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &--closed {
    background: url("../img/burger-closed.svg") 50% 50% no-repeat;
    background-size: cover;
    @media (min-width: $tablet) {
      display: none;
    }
  }
}
