.form-search {
  display: flex;
}

.form-search__input {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
  transition: 0.5s;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  &:focus,
  &:hover {
    box-shadow: 0px 0px 30px 0px $grey-opacity-60;
  }
}

.form-search__input::placeholder {
  color: $black-opacity-20;
}

.form-search__button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: $bg;
  font-size: 16px;
  transition: 0.5s;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  &:hover {
    box-shadow: 0px 0px 30px 0px $grey-opacity-60;
    color: $black;
    background-color: $white;
  }
}
