.form {
  display: flex;
  flex-wrap: wrap;
}

.form__button {
  font-size: 18px;
  line-height: 110%;
  padding: 8px 6px;
  background-color: $bg;
  border: 1px solid $orange-border-opacity-30;
  color: $white;
  transition: 0.3s;
  cursor: pointer;

  &--active {
    background-color: $yellow;
    color: $white;
  }

  &:hover {
    background-color: $yellow-opacity-30;
    color: $white;
  }

  &--active:hover {
    background-color: $yellow;
    cursor: auto;
  }
}

.form__button-submit {
  cursor: pointer;
  border: none;
  color: $white;
  background-color: $bg;
  font-size: 18px;
  transition: 0.5s;
  padding: 10px 0;
  min-width: 70px;

  &:hover {
    box-shadow: 0px 0px 30px 0px $grey-opacity-60;
    color: $black;
    background-color: $white;
  }
}

.form__input::placeholder {
  color: $black-opacity-20;
}

.form__input,
.form__select {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  transition: 0.5s;
  // min-width: 201px;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  &:focus,
  &:hover {
    box-shadow: 0px 0px 30px 0px $grey-opacity-60;
  }
}

