.modal-section {
  position: relative;
}

.modal {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  // width: 80%;
  // height: 80%;
  // left: 50%;
  // top: 50%;
  // transform: translateX(-50%) translateY(-50%);
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
}

.modal-popup__img {
  width: 80%;
  z-index: 10;
  object-fit: contain;

  @media (min-width: $tablet) {
    max-height: 80vh;
  }
}

.modal-popup__close-button {
  position: fixed;
  border: none;
  background: none;
  cursor: pointer;
  top: 20%;
 left: 93%;
  transition: 0.5s;
  color: $red;
  font-size: 70px;
  z-index: 210;

  &:hover {
    color: $red-hover;
  }

  &:active {
    opacity: 0.5;
  }

  // @media (min-width: $tablet) {
  //   right: -60px;
  //   top: 0;
  // }
}
