.modal-section {
  position: relative;
}

.modal-popup__arrow {
  border: none;
  background: none;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  font-size: 80px;
  transition: 0.2s;
  color: $yellow-opacity-50;
  transform: translateY(-50%);

  &:hover {
    color: rgb(220, 168, 36);
    font-size: 90px;
  }

  &:disabled:hover,
  &:disabled {
    color: $grey-opacity-30;
  }
}

.modal-popup__arrow-back {
  left: 30%;
  top: 110%;

  @media (min-width: $tablet) {
    top: 50%;
    left: -60px;
  }
  @media (min-width: $desktop-1024) {
    left: -100px;
  }
}

.modal-popup__arrow-forward {
  right: 30%;
  top: 110%;

  @media (min-width: $tablet) {
    top: 50%;
    right: -60px;
  }
  @media (min-width: $desktop-1024) {
    right: -100px;
  }
}

.reverse {
  transform: rotate(180deg);
}

.modal {
  display: none;
}

.shown {
  display: block;
  position: fixed;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 200;
}

.modal-popup__img {
  width: 100%;
  max-height: 70vh;
  z-index: 10;
  object-fit: cover;

  @media (min-width: $tablet) {
    max-height: 80vh;
  }
}

.modal-popup__close-button {
  position: fixed;
  border: none;
  background: none;
  cursor: pointer;
  top: -70px;
  right: 0;
  transition: 0.5s;
  color: $red;
  font-size: 60px;

  &:hover {
    color: $red-hover;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet) {
    right: -60px;
    top: 0;
  }
}

