.movies-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.movies-catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;

  @media (min-width: $mobile-460) {
    padding-left: 30px;
  }
}

.movies-catalog__item {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: $mobile-460) {
    margin-right: 30px;
  }
}

.movies-catalog__link {
  display: block;
  margin: 0;
  padding: 0;
  color: $white;
}

.movies-catalog__img {
  width: 280px;
  height: 420px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 $grey-opacity-30;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 30px 0 $grey-opacity-60;
  }
}

.movies-catalog__title {
  max-width: 280px;
  margin-top: 10px;
  margin-bottom: 0;
}

.movies-catalog__date {
  margin: 0;
}

.movies-catalog__rating {
  position: absolute;
  top: 10px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  color: $yellow;
  background-color: $bg;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 $grey-opacity-60;
  opacity: 0.8;
}
