.movies-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.movies-catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $mobile-460) {
    padding-left: 30px;
  }
}

.movies-catalog__item {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: $mobile-460) {
    margin-right: 30px;
  }
}

.movies-catalog__item-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  @media (min-width: $desktop-1024) {
    flex-direction: row;
  }
}

.movies-catalog__link {
  display: block;
  margin: 0;
  padding: 0;
  color: $white;
}

.movies-catalog__item-img {
  width: 280px;
  height: 420px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 $grey-opacity-30;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 30px 0 $grey-opacity-60;
  }
}

.movies-catalog__item-img-selected {
  width: 280px;
  object-fit: cover;
  background-color: $white;

  @media (min-width: $tablet) {
    width: 380px;
    height: 570px;
  }
}

.movies-catalog__item-text-wrapper {
  padding: 0 30px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0 60px 0 30px;
    text-align: left;
  }

  p {
    margin: 0 0 10px;
  }
}

.movies-catalog__item-text {
  font-size: 16px;
  opacity: 0.5;
}

.movies-catalog__title {
  max-width: 280px;
  margin-top: 10px;
  margin-bottom: 0;
}

.movies-catalog__date {
  margin: 0;
}

.movies-catalog__item-title {
  margin-top: 0;
  font-size: 36px;
  line-height: 44px;
}

.movies-catalog__item-kinopoisk-link {
  max-width: 140px;
  padding: 20px 0;
  color: $yellow;
  font-size: 26px;
  transition: 0.5s;

  &:hover {
    color: $yellow-hover;
  }

  span {
    font-size: 14px;
  }
}

.movies-catalog__item-rating {
  position: absolute;
  top: 10px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  color: $yellow;
  background-color: $bg;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 $grey-opacity-60;
  opacity: 0.6;
}
