.page-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.page-nav__link {
  display: block;
  padding: 8px 6px;
  color: $white;
  font-size: 18px;
  line-height: 110%;
  background-color: $bg;
  border: 1px solid $orange-border-opacity-30;
  cursor: pointer;
  transition: 0.3s;

  &--active {
    color: $white;
    background-color: $yellow;
  }

  &:hover {
    color: $white;
    background-color: $yellow-opacity-30;
  }

  &--active:hover {
    background-color: $yellow;
    cursor: auto;
  }

  @media (min-width: $tablet) {
    padding: 12px 10px;
    font-size: 24px;
  }
}
