.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  font-size: 20px;
  background-color: $bg;

  a {
    color: $white;
    opacity: 0.5;
    transition: 0.5s;
  }

  a:hover {
    opacity: 1;
  }
}

.page-footer__github-logo {
  background-color: $white;
  border-radius: 50%;
}

.page-footer__link-author {
  display: flex;
  align-items: center;
}

.page-footer__author {
  margin-right: 10px;
}

.page-footer__button-up {
  position: fixed;
  right: 20px;
  bottom: 20%;
  width: 50px;
  height: 50px;
  color: $black;
  font-size: 32px;
  background-color: $yellow-opacity-50;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: $white;
    background-color: $yellow;
  }
}
