.page {
  width: 100%;
  max-width: 100%;
  height: 100%;

  @media (min-width: $mobile-320) {
    overflow-x: hidden;
  }
}

.page--modal-open::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0.9;
  transition: 1s;
  content: "";
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: $white;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 20px;
  background-color: $bg;

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $desktop-1280) {
    font-size: 18px;
  }

  li {
    list-style: none;
  }
}
