.page-main {
  padding-top: 150px;
  flex: 1 1 auto;
}

.page-main__button-up {
  position: fixed;
  border: none;
  font-size: 32px;
  width: 50px;
  height: 50px;
  bottom: 20%;
  right: 10px;
  border-radius: 50%;
  background-color: $yellow-opacity-50;
  color: $black;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $yellow;
    color: $white;
  }
}
