.page-header {
  position: fixed;
  z-index: 2;
  min-width: 100%;
  min-height: 120px;
  padding-top: 20px;
  background-color: $bg;

  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.page-header__logo {
  width: 200px;
  background-color: $black-opacity-0;
}

.page-header__forms {
  max-width: 271px;
}
