.page {
  height: 100%;
  width: 100%;
  max-width: 100%;

  @media (min-width: $mobile-320) {
    overflow-x: hidden;
  }
}

.page--modal-open::before {
  content: "";
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 100;
  transition: 1s;
}

.page__body {
  background-color: $bg;
  color: $white;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  line-height: 20px;

  li {
    list-style: none;
  }
}
