.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.pagination-wrapper {
  max-width: 255px;
}

.pagination-inner-wrapper {
  overflow: hidden;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination__item {
  margin: 0;
  padding: 0;
}

.pagination__item:not(:last-child) {
  margin-right: 1px;
}

.pagination__link,
.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 40px;
  color: $white;
  font-size: 20px;
  background-color: $bg;
  cursor: pointer;
  transition: 0.3s;

  @media (min-width: $tablet) {
    font-size: 26px;
  }
}

.pagination__button {
  font-size: 30px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 36px;
  }
}

@media (min-width: $tablet) {
  .pagination__link:hover,
  .pagination__button:hover {
    background-color: $yellow-opacity-30;
  }
}

.pagination__link:active,
.pagination__button:active {
  background-color: $beige-opacity-10;
}

.pagination__link--active,
.pagination__link--active:hover {
  background-color: $yellow;
  cursor: auto;
}

.pagination__button:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.display-none {
  display: none;
}

.pagination__button-start,
.pagination__button-end,
.pagination__button-prev,
.pagination__button-next {
  @media (max-width: $tablet) {
    position: absolute;
    top: 45px;
  }
}

.pagination__button-start {
  left: 20%;
}

.pagination__button-end {
  right: 20%;
}

.pagination__button-prev {
  left: 35%;
}

.pagination__button-next {
  right: 35%;
}
