.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-size: 40px;
  background: $black-opacity-60;
  visibility: visible;
  opacity: 1;
  transition: 1s all;
}

.preloader__loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  // animation: 1s spin infinite linear;
}

.done {
  visibility: hidden;
  opacity: 0;
}

// @keyframes spin {
//   from {
//     transform: translate(-50%, -50%) rotate(0deg);
//   }

//   to {
//     transform: translate(-50%, -50%) rotate(360deg);
//   }
// }
