.similar {
  text-align: center;
}

.similar__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
}

.similar__item {
  position: relative;
  width: 160px;
  min-height: 210px;
  margin-bottom: 10px;
  overflow: hidden;
}

.similar__title {
  position: absolute;
  top: 120px;
  left: 6.3%;
  width: 140px;
  height: 210px;
  color: $white;
  background: $black-opacity-60;

  @media (min-width: $tablet) {
    top: 210px;
    visibility: hidden;
  }
}

.similar__item-img {
  background-color: aliceblue;
  cursor: pointer;
}

.similar__item:hover {
  @media (min-width: $tablet) {
    filter: sepia(50%);
    transition: 0.6s;

    .similar__title {
      transform: translateY(-100px);
      visibility: visible;
      transition: 1s;
    }
  }
}
