.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: $yellow-hover;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.swiper-pagination-bullet-active {
  background-color: $yellow-hover;
  box-shadow: 0 0 8px 4px $yellow;
  opacity: 1;
}

.swiper {
  max-width: 100%;
}

.swiper-slide {
  width: 100px;
  padding-top: 40px;
  padding-bottom: 120px;
  cursor: auto;
  opacity: 0.1;
  pointer-events: none;

  &--stills {
    padding: 0;
  }
}

.swiper-slide-active {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.swiper__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-button-next {
  margin-right: 80px;
}

.swiper-button-prev {
  margin-left: 80px;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 111;
  width: 60px;
  height: 60px;
  color: $white;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $yellow-hover;
  }
}

.swiper-button {
  position: absolute;
  top: 40%;
}

.swiper__item-img {
  margin-right: 40px;
  object-fit: contain;
}

.swiper__title {
  font-size: 36px;
}

.swiper__date {
  font-size: 22px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: $yellow;
}
