.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: $yellow-hover;
  opacity: 0.4;
    transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: $yellow-hover;
  box-shadow: 0 0 8px 4px $yellow;
}

.swiper {
  max-width: 100%;
}

.swiper-slide {
  width: 100px;
  padding-top: 40px;
  padding-bottom: 120px;
  opacity: 0.1;
  cursor: auto;
  pointer-events: none;
  &--stills {
    padding: 0;

  }
}

.swiper-slide-active {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

.swiper__wrapper {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-button-next {
  margin-right: 40px;
}

.swiper-button-prev {
  margin-left: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  z-index: 111;
  color: $white;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $yellow-hover;
  }
}

.swiper-button {
  position: absolute;
  top: 40%;
}

.swiper__item-img {
  object-fit: contain;
  margin-right: 40px;
}

.swiper__title {
  font-size: 36px;
  // margin-bottom: 10px;
}

.swiper__date {
  font-size: 22px;
  // @include margin-y(30px, 0);
}

