$white: rgb(255 255 255);
$white-opacity-60: rgb(255 255 255 / 60%);
$black: rgb(0 0 0);
$black-opacity-60: rgb(0 0 0 / 60%);
$black-opacity-20: rgb(0 0 0 / 20%);
$black-opacity-0: rgb(0 0 0 / 0%);
$yellow: rgb(220 168 36 / 60%);
$yellow-hover: rgb(255 183 0);
$yellow-opacity-50: rgb(220 168 36 / 50%);
$yellow-opacity-30: rgb(220 168 36 / 30%);
$yellow-opacity-20: rgb(220 168 36 / 20%);
$red: rgb(156 0 0 / 60%);
$red-hover: rgb(228 0 0);

$orange-border-opacity-30: rgb(255 166 0 / 30%);
$grey-opacity-60: rgb(223 230 234 / 60%);
$grey-opacity-30: rgb(223 230 234 / 30%);

$bg: rgb(27 22 22);
$beige-opacity-30: rgb(245 222 179 / 30%);
$beige-opacity-10: rgb(245 222 179 / 10%);
$beige-opacity-0: rgb(245 222 179 / 0%);
