$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$black-opacity-60: rgba(0, 0, 0, 0.6);
$black-opacity-20: rgba(0, 0, 0, 0.2);
$black-opacity-0: rgba(0, 0, 0, 0);
$yellow: rgb(220, 168, 36);
$yellow-opacity-50: rgb(220, 168, 36, 0.5);
$yellow-opacity-30: rgba(220, 168, 36, 0.3);
$yellow-opacity-20: rgba(220, 168, 36, 0.2);
$red: rgba(156, 0, 0, 0.6);
$red-hover: rgb(228, 0, 0);

$orange-border-opacity-30: rgba(255, 166, 0, 0.3);
$grey-opacity-60: rgba(223, 230, 234, 0.6);
$grey-opacity-30: rgba(223, 230, 234, 0.3);

$bg: rgb(27, 22, 22);
$beige-opacity-30: rgba(245, 222, 179, 0.3);
$beige-opacity-10: rgba(245, 222, 179, 0.1);
$beige-opacity-0: rgba(245, 222, 179, 0);
